In [2]:
import pandas as pd
import numpy as np
import requests as rq
import matplotlib.pyplot as plt
from libraries.Cryptov2 import Cryptocurrency
from arch.univariate import arch_model

In [3]:
df_BTC = pd.read_csv("./models/ts/fits/BTC-results.csv", index_col=0)
df_EOS = pd.read_csv("./models/ts/fits/EOS-results.csv", index_col=0)
df_ETH = pd.read_csv("./models/ts/fits/ETH-results.csv", index_col=0)
df_IOTA = pd.read_csv("./models/ts/fits/IOTA-results.csv", index_col=0)

# Model selection
## According to the Akaike selection criteria

In [4]:
df_BTC[df_BTC['AIC_score'] == min(df_BTC['AIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
65,EGARCH,ConstantMean,skewstudent,2,1,-9513.053544,-9472.733259,4763.526772

In [5]:
df_EOS[df_EOS['AIC_score'] == min(df_EOS['AIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
55,EGARCH,ConstantMean,studentst,1,1,-2162.18502,-2138.638498,1086.09251

In [6]:
df_ETH[df_ETH['AIC_score'] == min(df_ETH['AIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
56,EGARCH,ConstantMean,skewstudent,1,1,-4582.200958,-4550.265896,2297.100479

In [7]:
df_IOTA[df_IOTA['AIC_score'] == min(df_IOTA['AIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
55,EGARCH,ConstantMean,studentst,1,1,-2200.285456,-2176.630366,1105.142728

In [8]:
round(df_BTC.sort_values(by='AIC_score', ascending=True)[['volatility_model','dist','p','q','AIC_score','BIC_score','LL_score']][:5],2).to_csv('./models/ts/fits/BTC-ordered-AIC-results.csv')
round(df_EOS.sort_values(by='AIC_score', ascending=True)[['volatility_model','dist','p','q','AIC_score','BIC_score','LL_score']][:5],2).to_csv('./models/ts/fits/EOS-ordered-AIC-results.csv')
round(df_ETH.sort_values(by='AIC_score', ascending=True)[['volatility_model','dist','p','q','AIC_score','BIC_score','LL_score']][:5],2).to_csv('./models/ts/fits/ETH-ordered-AIC-results.csv')
round(df_IOTA.sort_values(by='AIC_score', ascending=True)[['volatility_model','dist','p','q','AIC_score','BIC_score','LL_score']][:5],2).to_csv('./models/ts/fits/IOTA-ordered-AIC-results.csv')

# Model selection
## According to the BIC selection criteria

In [9]:
df_BTC[df_BTC['BIC_score'] == min(df_BTC['BIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
56,EGARCH,ConstantMean,skewstudent,1,1,-9510.880646,-9476.320402,4761.440323

In [10]:
df_EOS[df_EOS['BIC_score'] == min(df_EOS['BIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
55,EGARCH,ConstantMean,studentst,1,1,-2162.18502,-2138.638498,1086.09251

In [11]:
df_ETH[df_ETH['BIC_score'] == min(df_ETH['BIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
55,EGARCH,ConstantMean,studentst,1,1,-4576.920116,-4550.307563,2293.460058

In [12]:
df_IOTA[df_IOTA['BIC_score'] == min(df_IOTA['BIC_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
55,EGARCH,ConstantMean,studentst,1,1,-2200.285456,-2176.630366,1105.142728

# Model selection
## According to the maximization of the log likelihood

In [13]:
df_BTC[df_BTC['LL_score'] == max(df_BTC['LL_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
62,EGARCH,ConstantMean,skewstudent,1,3,-9511.111494,-9465.031169,4763.555747

In [14]:
df_EOS[df_EOS['LL_score'] == max(df_EOS['LL_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
77,EGARCH,ConstantMean,skewstudent,3,2,-2158.30725,-2115.923511,1088.153625

In [15]:
df_ETH[df_ETH['LL_score'] == max(df_ETH['LL_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
77,EGARCH,ConstantMean,skewstudent,3,2,-4578.768567,-4530.865974,2298.384284

In [16]:
df_IOTA[df_IOTA['LL_score'] == max(df_IOTA['LL_score'])]

,volatility_model,mean_model,dist,p,q,AIC_score,BIC_score,LL_score
80,EGARCH,ConstantMean,skewstudent,3,3,-2195.868814,-2148.558633,1107.934407

# Model selection
## Accortding to Model Confidence Set
1. BTC : Model 56
1. EOS : Model 73
1. IOTA : Model 8
1. ETH : Model 73

In [17]:
crypto_list = ['BTC','EOS','ETH','IOTA']

In [24]:
df_BTC.iloc[56,:]

volatility_model          EGARCH
mean_model          ConstantMean
dist                 skewstudent
p                              1
q                              1
AIC_score               -9510.88
BIC_score               -9476.32
LL_score                 4761.44
Name: 56, dtype: object

In [25]:
df_ETH.iloc[73,:]

volatility_model          EGARCH
mean_model          ConstantMean
dist                   studentst
p                              3
q                              1
AIC_score               -4574.06
BIC_score                -4536.8
LL_score                 2294.03
Name: 73, dtype: object

In [26]:
df_IOTA.iloc[8,:]

volatility_model            ARCH
mean_model          ConstantMean
dist                 skewstudent
p                              1
q                              3
AIC_score                  -2111
BIC_score               -2087.35
LL_score                  1060.5
Name: 8, dtype: object

In [27]:
df_EOS.iloc[73,:]

volatility_model          EGARCH
mean_model          ConstantMean
dist                   studentst
p                              3
q                              1
AIC_score               -2160.13
BIC_score               -2127.16
LL_score                 1087.06
Name: 73, dtype: object